.App {
  text-align: center;
}

footer {
  margin-top: 30px;
  width: 100%;
  background-color: rgb(110, 5, 151);
  color: #fff;
}

#headerJumbo {
  margin-bottom: 0;
  background-color: rgb(110, 5, 151);
  color: white;
}
#navBar {
  background-color: rgb(174, 94, 190);
}
